@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

*{
 box-sizing:border-box;
 margin:0 ;
 padding:0; 
}
html{
    height:100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    min-height: 100%;
}
.grid-container >*{
    box-shadow:-1px 1px 7px 0px black;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.grid-container{
    display:grid; 
    gap:10px;
    grid-template: 
    "header" auto
    "side"auto
    "main" auto
    "sidebar" auto
    "footer"100px
    ;
} 

.header{
    grid-area: header;
    background-color:aquamarine;
}


.side{
    grid-area: side;
    background-color:aqua;
    display:grid;
    grid-template: 
    "aligment"1fr
    "info1"auto
}
.info1{
    grid-area: info1;
}
.aligment{
    grid-area:aligment;
    background-color: burlywood;
    box-shadow:-1px 1px 7px 0px black;
    border-radius: 4px;
}
.main{
    grid-area: main;
    background-color: blanchedalmond;
}
.sidebar{
    grid-area:sidebar;
    background-color:antiquewhite;
}
.footer{
    grid-area: footer;
    background-color:darkturquoise ;

}
@media (min-width:600px){
    .grid-container{
        /* grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
     grid-template-areas: 
        "header header"
        "side side"
        "sidebar main"
        "footer footer"; */
    grid-template:
        "header header" 150px
        "side sidebar" auto
        "main main" auto
        "footer footer"100px
        /1fr 1fr;
    }
}

@media (min-width:900px){
    .grid-container{
        /* grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
     grid-template-areas: 
        "header header"
        "side side"
        "sidebar main"
        "footer footer"; */
    grid-template:
        "header header header" 150px
        "side main sidebar" auto
        "footer footer footer"100px
        /1fr 1fr 1fr;
    }
}