@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

*{
    
    box-sizing:border-box;
    margin:0 ;
    padding:0; 
   }
   html{
       
       height:100%;
   }
   main{
       
       font-family: 'Open Sans', sans-serif;
       font-size:1em;
       min-height: 100%;
       background-color: white;
       
   }
   header, footer{
       text-align: center;
   }
   .cards{
       margin-top: 20px;
       text-align: center;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
      gap: 10px;
       
    }
      
      
    .cards  >*{
        padding: 5px;
        background-color: rgb(157, 172, 207);
        box-shadow:-1px 1px 7px 0px black;
        border-radius: 4px;
        text-align: center;
    }
   
   footer{
       
    margin-top: 15px;
    border-top: 1px solid black;
    font-size: 1.25em
   }
   img{
    width: 360px;
    height: 460px;
    border-radius: 4px;
   }

  