@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
.grid-container{
    display:grid; 
    gap:10px;
    grid-template: 
    "header" auto
    "cards"  auto
    "footer" auto;
}

.cards{
    font-size: larger;
    font-family: sans-serif;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
    
 }
   
   
 .cards  >*{
  
     padding: 5px;
     font-size: larger;
     font-weight: bold;
     background-color: rgb(157, 172, 207);
     box-shadow:-1px 1px 7px 0px black;
     border-radius: 4px;
     text-align: center;
 }
 .cards img{
    height: 240px;
    width: 340px;
    border-radius: 4px;
   }
  .cards a{
    text-decoration: none;
    color: rgb(18, 125, 161);
  }
  
   