
main{
    text-align: center;

   
}
main img[data-src] {
    filter: blur(0.2em);
  }
main img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
.name{
    display: flex;
    font-size:large;
    text-align: left;
    
}

main h3{
    color: azure;
}
   

main{grid-area:main;
}    
    

    
   .grid-container{
       display:grid; 
       gap:10px;
       grid-template: 
       "header" auto
       "main"  auto
       "footer" auto;
   }
   

  
