 .join_survey {
    display: flex;
    grid-area: join_survey;

	border: 1px solid rgb(128, 147, 156);
	padding: 0.5rem;
	text-align: center;
	background-color: rgb(62, 136, 206);
}

form {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr;
	align-items: center;
    justify-content: center;
    text-align: center;

}

/* h1 {
	font-size: 1.5rem;
} */

label,
input,
textarea,
select
 {
	padding: 0.35rem;
	font-size: 1.1rem;
}

label {
	text-align: center;
}

input:focus,
textarea:focus,
select:focus {
	background-color: rgb(209, 241, 230);
}


.grid-container{
    display:grid; 
    gap:10px;
    grid-template: 
    "header" auto
    "join_survey" auto
    "footer" auto;
}

/* @media (min-width:37.5em){
.grid-container{
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    display:grid; 
    gap:10px;
    grid-template: 
    "header header header" auto
    "join_survey join_survey join_survey " auto
    "footer footer footer" auto
     /1fr 1fr 1fr;}} */
     .personal{
         display: flex;
         flex-direction: column;

     }

     .buttonjoin{
         font-size: 1.5em;
         justify-content:right;
         align-self: right;
           padding: 10px 10px 10px 10px;
         color: #17C3B2;;
         background-color: rgb(3, 78, 112);
         border-radius: 10px;
          cursor:pointer;
           font-size: 1em;
           font-weight: bolder;
     }